html {
  scroll-behavior: smooth;
}
.navbar {
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.125rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul li {
    margin-right: 2.5rem;
  }
  
  .navbar ul a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s, padding 0.3s;
  }
  
  .navbar ul a:hover {
    color: #4CAF50;
    padding: 0.625rem 1.5625rem; 
  }
  
  .navbar img {
    width: 15.625rem; 
    height: 5rem; 
    margin-left: 1.25rem; 
  }
  
  .login-button {
    background-color: #007bff;
    color: #fff;
    padding: 0.625rem 1.25rem; 
    text-decoration: none;
    border-radius: 0.3125rem; 
    font-weight: bold;
    margin-right: 1.25rem; 
  }
  
  .login-button:hover {
    opacity: 0.8;
  }
  
  .header-image {
    background-size: cover;
    background-position: center;
    /* min-height: 31.25rem;  */
    margin-top: 4.375rem;
  }
  
  .header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  