.UserManagement {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  position: absolute;
  left: 290px;
  right: 0;
  top: 90px;
  overflow-y: auto;
  z-index: 100;
}

.UserManagement button {
  background-color: #6161F3;
  color: #fff;
}

.UserManagement button:hover {
  opacity: 0.9;
  box-shadow: none;
}
