.theory {
  margin-top: 90px;
}

.container-theory {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.chapter-header-btn {
  display: flex;
  justify-content: center;
}

.chapter-header-btn button {
  margin: 10px 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.chapter-header {
  margin: 40px 0 20px 5%;
}

.button-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 700px;
}

.button-list li {
  background-color: #ede8e8;
  color: #333;
  padding: 8px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-list li.selected {
  background-color: #0056b3;
  color: #fff;
  font-weight: bold;
}

.exam-info {
  margin-left: 4%;
}

.red-text {
  color: red;
}

.theory-text {
  text-align: center;
}

.theory-text a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  color: #333;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-left: 20px;
  margin: 20px 20px;
}

.theory-text a:hover {
  opacity: 0.7;
}

.question-display-theory {
  width: 80%;
}

.option {
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.option.correct {
  border-radius: 5px;
  background-color: #71be34;
  color: #fff;
  border: 1px solid #71be34;
}

.option.incorrect {
  border-radius: 5px;
  background-color: red;
  color: #fff;
  border: 1px solid red;
}
.option.chosen {
  border-radius: 5px;
  background-color: #0056b3;
  color: #fff;
  border: 1px solid #0056b3;
}

.question-display-container {
  background-color: #fff0f0;
  border: 1px solid #00c8f8;
  padding: 10px;
  border-radius: 5px;
}
