.course-section{
    background: rgb(237, 231, 231);
    color: #fff;
    
   
}
.courses-container{
    flex: 1;
    max-width: calc(50% - 0.625rem); /* Tính toán từ 10px / 16px = 0.625rem */
    color: black;
    margin-left: 1.25rem; /* Tính toán từ 20px / 16px = 1.25rem */

}
.course {
    display: flex;
    justify-content: space-between;

    align-items: flex-start;
     width: 100%;
     margin-top: 1.25rem; /*Tính toán từ 20px / 16px = 1.25rem  */
}
.course-header {
    display: flex;
    align-items: center;
}
.course-header h2 {
    margin-left: 1.25rem; /* Tính toán từ 20px / 16px = 1.25rem */
}
.course-header,
.course-box,
.course-content,
.course-button {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    color: black;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
}
.course-header span.course {
    color: #75767b;
    font-size: 0.875rem; /* Tính toán từ 14px / 16px = 0.875rem */
    margin-bottom: 0.875rem; /* Tính toán từ 14px / 16px = 0.875rem */
}
.course-box h3,
.course-box p {
    margin-left: 1.25rem; /* Tính toán từ 20px / 16px = 1.25rem */
}
.course-box p {
    font-size: 1rem; /* Tính toán từ 16px / 16px = 1rem */
    color: #75767b;
}
.course-content {
    border: none;
}
.course-content li {
    margin-left: 1.25rem; /* Tính toán từ 20px / 16px = 1.25rem */
    padding: 0.625rem 0; /* Tính toán từ 10px / 16px = 0.625rem */
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8eaed;
}
.course-content span {
    margin-left: auto;
    color: #75767b;
}
.course-button {
    text-align: center;
    background-color: red;
}
.course-button a {
    display: block;
    color: #fff;
    padding: 0.625rem 0; /* Tính toán từ 10px / 16px = 0.625rem */
    text-decoration: none;
    border: none;
    border-radius: 0;
    width: 100%;
}
.course-button a:hover {
    opacity: 0.7;
}
.right-content {
    flex: 1;
    background-color: #7dae46;
    color: #fff;
    border: 1px solid #ccc;
    padding: 1.25rem; /* Tính toán từ 20px / 16px = 1.25rem */
    flex-direction: column;
    margin-bottom: 1.875rem; /* Tính toán từ 30px / 16px = 1.875rem */
    margin-right: 1.875rem; /* Tính toán từ 30px / 16px = 1.875rem */
    border-radius: 3.125rem; /* Tính toán từ 50px / 16px = 3.125rem */
    text-align: center;
}
.course-section h1 {
    text-align: center;
    margin-bottom: 2.5rem; /* Tính toán từ 40px / 16px = 2.5rem */
    padding-top: 2.5rem;
    margin-top: 0;
    color: black;
}
.course-header h2 {
    margin-left: 1.25rem; /* Tính toán từ 20px / 16px = 1.25rem */
}
.right-content p{
    color: black;
}
