.course-section {
    background-color: #6590c9;
    padding: 1.25rem;
    margin-top: 4.375rem;
    color: #fff;
    height: 34.375rem; 
}

.course-section h1 {
    text-align: center;
    margin-bottom: 2.5rem; 
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 1.25rem; 
}

.courses-container {
    flex: 1;
    max-width: calc(50% - 0.625rem); 
    color: black;
    margin-left: 1.25rem; 
}

.course-header {
    display: flex;
    align-items: center;
}

.course-header h2 {
    margin-left: 1.25rem; 
}

.course-header,
.course-box,
.course-content,
.course-button {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    color: black;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
}

.course-header span.course {
    color: #75767b;
    font-size: 0.875rem; 
    margin-bottom: 0.875rem; 
}

.course-box h3,
.course-box p {
    margin-left: 1.25rem; 
}

.course-box p {
    font-size: 1rem; 
    color: #75767b;
}

.course-content {
    border: none;
}

.course-content li {
    margin-left: 1.25rem; 
    padding: 0.625rem 0; 
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8eaed;
}

.course-content span {
    margin-left: auto;
    color: #75767b;
}

.course-button {
    text-align: center;
    background-color: red;
}

.course-button a {
    display: block;
    color: #fff;
    padding: 0.625rem 0; 
    text-decoration: none;
    border: none;
    border-radius: 0;
    width: 100%;
}

.course-button a:hover {
    opacity: 0.7;
}

.right-content {
    flex: 1;
    background-color: #7dae46;
    color: #fff;
    border: 1px solid #ccc;
    padding: 1.25rem;
    flex-direction: column;
    margin-bottom: 1.875rem; 
    margin-right: 1.875rem; 
    border-radius: 3.125rem; 
    text-align: center;
}
