<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<h1>Welcome to driver license helper page </h1>
<form action="login" method="post">

    <label for="Username">Username :</label> <br/>
    <input type="text" name="username"/> <br/>

    <label for="password">Password :</label> <br/>
    <input type="password" name="password"/> <br/>

    <select name="roleID">
        <option value="ST">Student</option>
        <option value="MT">Mentor</option>
        <option value="SF">Staff</option>
    </select>

    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
<br/>

</body>

</html>