<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up Page</title>
</head>
<body>
<h1>Welcome to driver license helper page </h1>
<form action="register" method="post">


    <label for="Username">Username:</label> <br/>
    <input type="text" name="suusername"/> <br/>

    <label for="password">Password:</label> <br/>
    <input type="password" name="supassword"/> <br/>

    <select name="suroleID">
        <option value="ST">Student</option>
        <option value="MT">Mentor</option>
        <option value="SF">Staff</option>
    </select>
    <br/>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
<br/>
</body>
</html>