/* Sidebar container */
.sidebar-admin {
  background-color: #fff;
  color: #333;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 999; /* Đặt z-index cao hơn để đảm bảo nằm trước nội dung */
  border-right: 1px solid #ccc;
}

/* Sidebar heading */
.sidebar-admin h2 {
  font-size: 1.5rem;
  margin-bottom: 50px;
  text-align: center;
}

/* Sidebar navigation items */
.sidebar-nav {
  list-style: none;
  padding: 0;
}

.sidebar-nav .sidebar-icon {
  font-size: 14px;
  color: blue;
  margin-right: 8px;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-nav a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 12px;
}

/* Hover effect for navigation items */
.sidebar-nav a:hover {
  background-color: #f0f0f0;
  opacity: 1;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.sidebar-nav li.active {
  background-color: #f0f0f0;
  opacity: 1;
  border-radius: 10px;
  cursor: pointer;
}
