footer {
    position: fixed;
    bottom: 0;
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 1rem sans-serif;
    padding: 3.125rem 3.125rem 3.75rem 3.125rem; 
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    /* font: normal 36px 'Cookie', cursive; */
    font-size: 2.25rem;
    margin: 0;
}


.footer-distributed h3 span {
    color: #2d50c3;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 1.25rem 0 0.75rem;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 0.875rem;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 1.5625rem; 
    width: 2.375rem; 
    height: 2.375rem; 
    border-radius: 1.5rem; 
    text-align: center;
    line-height: 2.625rem; 
    margin: 0.625rem 0.9375rem; 
    vertical-align: middle;
}


.footer-distributed .footer-center i.fa-envelope {
    font-size: 1.0625rem; /* 17px to 1.0625rem */
    line-height: 2.375rem; /* 38px to 2.375rem */
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 1.25rem; /* 20px to 1.25rem */
    color: #92999f;
    font-size: 0.8125rem; /* 13px to 0.8125rem */
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 1.125rem; /* 18px to 1.125rem */
    font-weight: bold;
    margin-bottom: 1.25rem; /* 20px to 1.25rem */
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}


@media (max-width: 55rem) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 2.5rem;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

@media (max-height: 50rem) {
    footer {
        position: static;
    }
    header {
        padding-top: 2.5rem;
    }
}
