.b1 h1 {
    font-size: 2.25rem; 
    margin-bottom: 1.25rem; 
    text-align: center;
    margin-top: 1.875rem; 
}

.b1 h2 {
    font-size: 1.5rem; 
    margin-bottom: 0.625rem; 
    margin-left: 1.25rem; 
}

.b1 p {
    font-size: 1.125rem; 
    line-height: 1.6;
    margin-left: 2.5rem; 
}